<div class="section is-medium topImage" id="<%= pageName %>">
</div>
<div class="section lightBlueBackground">
  <div class="container">
    <h1 class="title has-text-white has-text-centered"><%= title %></h1>
    <p class="subtitle has-text-white has-text-centered"><%= message %></p>
  </div>
</div>