<section class="section">
  <div class="container">
    <p class="subtitle">Good food is important! That's why we created this website.</p>
    <p>This website is a place where you can keep track of all of your favorite recipes in one spot. You can add recipies, edit recipes, and delete recipes. That way when you want to make one of your favorite dishes, all you have to do ins scroll through your recipes to find the one you want. WHen you're looking for a recipe, you can sort recipe list so that it is easier to find what you are looking for. </p>
    <p>In order to use the site, you need to make an account and log in. That way, othe people won't be able to see of change your recipes. Before you sign up, feel free to read about us or send us a message on our contact page because you don't need an account to visit those pages.</p>
  </div>
</section>
